.header_logined {
  background-color: #202020;
}

.header__wrapper_logined {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 18px 70px;
  max-width: 1140px;
}

.header__logo_loggined:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  .header__wrapper_logined {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__wrapper_logined {
    padding: 18px 14px;
  }

}
